
header{
     background-image: linear-gradient(rgb(255, 152, 152) , rgb(255, 6, 6) , rgb(66, 0, 0));
     
  height: 200px;
}
header, h1{
    color: aliceblue;
    text-align: center;
    padding-top: 36px;

}

article, h2{
    margin-left: 20px;
}
article, img{
    margin-left: 88px;
    margin-top: 20px;
}
article, h4{
    font-size: 15px;
}
section{
    background-color: blue;
    
}
footer{
    float: left;
    display: flex;

}
footer img{
    width: 55%;
}
section h3
{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
section p {
    color: white;
}
button{
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
}
button:first-child{
    color: aquamarine;
}